<main
  *ngIf="!removeMainContent"
  id="main-content"
  [ngStyle]="{
    opacity: mainContentOpacity
  }"
>
  <h1 translate="no">My Summary</h1>
  <div id="pdf-form">
    <div class="input-container">
      <label for="title" translate="yes">Título</label>
      <input 
        type="text" 
        id="title" 
        placeholder="Meu Título"
        translate="yes"
        [formControl]="title"
        [ngClass]="{ 'input-invalid': title.touched && title.invalid }"
      >
    </div>

    <div class="input-container">
      <label for="url" translate="yes">URL</label>
      <input 
      type="text" 
      id="url" 
      placeholder="www.meusite.com"
      translate="yes"
      [formControl]="url"
      [ngClass]="{ 'input-invalid': url.touched && url.invalid }"
    >
    </div>

    <button id="generate" type="button" (click)="startPdfGeneration()" [disabled]="title.invalid || url.invalid">Gerar PDF</button>
  </div>
</main>
<div 
  id="pdf-generation-view"
  [ngStyle]="{
    opacity: pdfGenerationViewOpacity
  }"
>
  <div class="loading-content">
    <h2>Gerando PDF, aguarde...</h2>
    <div class="loader"></div>
  </div>
</div>